div.b{
    
    background-color: brown;
}
div.z:hover{
    background-color:darkred;
}
div.e{
    background-color: chartreuse;
}
div.x:hover{
    background-color: darkslategray;
}
div.f{
    background-color: khaki;
    
}
div.g{
    background-color: turquoise;
}
div.h{
    background-color: royalblue;
}
div.i{
    background-color: wheat;
}
div.j{
    background-color: olive;
}
div.k{
    background-color: rosybrown;
}
div.l{
    background-color: indigo;
}
div.m1{
    background-color: sienna;
}
div.n0{
    background-color: black;
}
div.o{
    background-color: peru;
}
div.p{
    background-color: darkgreen;
}

